@import '../../../styles/mixin/responsive.scss';

.bold {
  font-weight: bold;
}

.outer {
  display: flex;
  flex-direction: column;
  gap: 2em;
}


.inner {
  @include medium {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

    & > p {
      text-align: right;
    }

    & > * {
      width: 50%;
    }
  }

  @include extra_large {
    gap: 3em;
  }

  @include extra_large_2 {
    gap: 4em;
  }
}