@import "../../../../styles/util.scss";
@import "../../../../styles/colors.scss";
@import "../../../../styles/mixin/sliding-transition.scss";

$lighter-big-band-blue: hsl(234, 94%, 45%);
$a-color: white;

.open-submenu-bg-color {
  background-color: $lighter-big-band-blue;
}

.container {
  padding: 17px;
  font-size: 15px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  display: block;
  color: $a-color;

  &:visited,
  &:hover,
  &:active {
    color: $a-color;
  }
}

li:not(.submenu) {
  border: 0;
  list-style: none;
  line-height: 1;
  display: flex;
  position: relative;
  text-transform: uppercase;
  height: 49px;
  justify-content: space-between;
  background-color: $bigband-blue;

  @include sliding-transition;

  button {
    color: white;
    padding-right: 17px;
    padding-left: 17px;
    @include sliding-transition;
  }
}

.submenu {
  @include sliding-transition;
  a {
    background-color: $bigband-red;
    padding: 14px;
    padding-left: 34px;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
