<app-heading>Buchungsinfos</app-heading>

<div class="content">
  <p>Die Blue Bird Big Band bietet Ihnen hochwertigen Bigband-Jazz für jeden Anlass, z.B.</p>

  <ul>
    <li>Messen</li>
    <li>Betriebsfeste</li>
    <li>Jubiläen</li>
    <li>Frühschoppen</li>
    <li>sonstige Feste</li>
  </ul>

  <p>Wir können sie an fast jedem Ort unterhalten. Wir benötigen hierzu:</p>

  <ul>
    <li>eine Bühne, mindestens 8 m breit und 6 m tief</li>
    <li>~ 20 Stühle</li>
    <li>220 V Stromanschluss</li>
    <li>Schutz vor Sonne und Regen bei Open-Air Veranstaltungen</li>
  </ul>

  <p>Interessiert Sie unser Angebot? Setzen Sie sich mit uns in Verbindung!</p>

  <div>Weitere Infos erhalten Sie bei</div>

  <app-contact email="bandleiter@bluebirdbigband.de" telefax="0621 3 19 74 88" telephone="0621 40 94 97"
    name="Klaus Gehrlein" [bold_name]="true"></app-contact>
  <app-contact email="buchung@bluebirdbigband.de" telephone="06232 62 19 15" name="Rudi Kolbinger" [bold_name]="true">
  </app-contact>
</div>