<ul class="main-menu">
    <li><a href='index'>Home</a></li>

    <li><a href='#'>Aktuelles</a>
        <!-- <ul class="sub-menu">
            <li><a href='auftritte'>Auftritte</a></li>
            <li><a href='presse'>Presseinfos</a></li>
            <li><a href='buchung'>Buchungsinfos</a></li>
        </ul> -->
    </li>

    <li class="active"><a href='#'>Band</a>
        <!-- <ul class="sub-menu">
            <li><a href='about-us'>Über uns</a></li>
            <li><a href='musiker'>Musiker</a></li>
            <li><a href='anfahrt'>Anfahrt</a></li>
        </ul> -->
    </li>

    <li><a href='#'>Kontakt</a>
        <!-- <ul class="sub-menu">
            <li><a href='kontakt'>Kontakt</a></li>
            <li><a href='impressum'>Impressum</a></li>
        </ul> -->
    </li>

    <li><a href='intern'>Login</a></li>
</ul>