<app-heading>Bilder und Videos unserer Auftritte</app-heading>

<div class="recordings">
  <div class="concert" *ngFor="let concert of recordings">
    <h3>
      {{ concert.concert.description }} in {{ concert.concert.place }}
      {{ concert.concert.date }}
    </h3>
    <ul class="files">
      <li *ngFor="let file of concert.files" class="file">
        <a class="file" (click)="downloadFile(file.file_name)">
          {{ file.description }}
        </a>
        ({{ file.file_size }} MB)
      </li>
    </ul>
  </div>
</div>
