<app-heading>Login</app-heading>

<div class="content">
  <form (submit)="login()" [formGroup]="form">
    <div class="input-fields">
      <mat-form-field class="input username">
        <input
          matInput
          placeholder="Benutzername"
          type="text"
          id="username"
          name="username"
          formControlName="username"
          required
        />
      </mat-form-field>
      <mat-form-field class="input password">
        <input
          type="password"
          name="password"
          formControlName="password"
          id="password"
          matInput
          placeholder="Passwort"
          required
        />
      </mat-form-field>
    </div>
    <div class="login-error" *ngIf="hasLoginError">
      Error beim Login: Benutzername oder Passwort falsch.
    </div>
    <div class="login-button">
      <button type="submit" mat-raised-button color="primary">Login</button>
    </div>
  </form>
</div>
