@import "../../../styles/mixin/responsive.scss";

// implement: https://www.w3docs.com/snippets/css/how-to-create-a-responsive-layout-with-grid.html

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.input {
  max-width: 60vw;
}

button {
  width: 20vw;
}
