<app-heading>Repertoire</app-heading>
<div class="responsive-table">
  <table mat-table matSort [dataSource]="songs" *ngIf="songs">
    <ng-container matColumnDef="title">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Titel</th>
      <td mat-cell *matCellDef="let song">{{ song.title }}</td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Stil</th>
      <td mat-cell *matCellDef="let song">{{ song.genre }}</td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Autor</th>
      <td mat-cell *matCellDef="let song">{{ song.author }}</td>
    </ng-container>

    <ng-container matColumnDef="arranger">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Bearbeiter</th>
      <td mat-cell *matCellDef="let song">{{ song.arranger }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Aktionen</th>
      <td mat-cell *matCellDef="let song">
        <button
          mat-button
          [mat-menu-trigger-for]="menu"
          (click)="songActionsClicked(song)"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="downloadActionClicked()">
        <mat-icon class="mat-menu-icon">file_download</mat-icon>
        Download
      </button>
      <button mat-menu-item (click)="playActionClicked()">
        <mat-icon class="mat-menu-icon">play_arrow</mat-icon>
        Play
      </button>
    </mat-menu>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>
