@import "../../../styles/colors.scss";
@import "../../../styles/mixin/responsive.scss";

h1 {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.4;
}

img {
  width: 80%;
  display: block;
  margin: 1em auto;
}

.scroll {
  --height: calc(50px - 1em);
  position: relative;
  height: var(--height);
  overflow: hidden;

  p {
    position: absolute;
    height: 100%;
    margin: 0;
    line-height: var(--height);
    text-align: left;
    color: #990000;
    font-weight: 700;
    letter-spacing: 2px;
    width: 100vw;

    animation: scroll-left 12.5s linear infinite;

    @include small {
      animation-duration: 14s;
    }

    @include medium {
      animation-duration: 16s;
    }

    @include large {
      animation-duration: 18s;
    }

    @include extra_large {
      animation-duration: 20s;
    }

    @include extra_large_2 {
      animation-duration: 22s;
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(calc(85vw - 2em + 5px));
  }
  100% {
    transform: translateX(calc(-267px - 5px));
  }
}

@include medium {
  @keyframes scroll-left {
    0% {
      transform: translateX(calc(88vw - 2em + 5px));
    }
    100% {
      transform: translateX(calc(-267px - 5px));
    }
  }
}

@include large {
  @keyframes scroll-left {
    0% {
      transform: translateX(calc(85vw - 2em + 5px));
    }
    100% {
      transform: translateX(calc(-267px - 5px));
    }
  }
}

@include extra_large {
  @keyframes scroll-left {
    0% {
      transform: translateX(calc(80vw - 2em + 5px));
    }
    100% {
      transform: translateX(calc(-267px - 5px));
    }
  }
}

@include extra_large_2 {
  @keyframes scroll-left {
    0% {
      transform: translateX(calc(75vw - 2em + 5px));
    }
    100% {
      transform: translateX(calc(-267px - 5px));
    }
  }
}
