<ul>
  <li><a href="#" class="container">Home</a></li>
  <li>
    <div class="container">Aktuelles</div>
    <button>
      <mat-icon>add</mat-icon>
    </button>
    <div class="submenu">
      <a href="/auftritte"><button mat-menu-item>Auftritte</button></a>
      <a href="/presse"><button mat-menu-item>Presseinfos</button></a>
      <a href="/buchung"><button mat-menu-item>Buchungsinfos</button></a>
    </div>
  </li>
  <li>
    <div class="container">Band</div>
    <button>
      <mat-icon>add</mat-icon>
    </button>
    <div class="submenu">
      <a href="/about-us"><button mat-menu-item>Über uns</button></a>
      <a href="/musiker"><button mat-menu-item>Musiker</button></a>
      <a href="/anfahrt"><button mat-menu-item>Anfahrt</button></a>
    </div>
  </li>
  <li>
    <div class="container">Kontakt</div>
    <button>
      <mat-icon>add</mat-icon>
    </button>
    <div class="submenu">
      <a href="/kontakt"><button mat-menu-item>Kontakt</button></a>
      <a href="/impressum"><button mat-menu-item>Impressum</button></a>
    </div>
  </li>
  <li><a href="#intern" class="container">Login</a></li>
</ul>
