<ul>
  <li><a href="#" class="container">Home</a></li>
  <li>
    <div class="container">Aktuelles</div>
    <button
      (click)="toggleNews()"
      [ngClass]="{ 'open-submenu-bg-color': isNewsOpen }"
    >
      <mat-icon>{{ isNewsOpen ? "remove" : "add" }}</mat-icon>
    </button>
  </li>
  <li class="submenu">
    <a href="/auftritte">Auftritte</a>
    <a href="/presse">Presseinfos</a>
    <a href="/buchung">Buchungsinfos</a>
  </li>
  <li #band_container class="band_container">
    <div class="container">Band</div>
    <button
      (click)="toggleBand()"
      [ngClass]="{ 'open-submenu-bg-color': isBandOpen }"
    >
      <mat-icon>{{ isBandOpen ? "remove" : "add" }}</mat-icon>
    </button>
  </li>
  <li class="submenu band_submenu" #band_submenu>
    <a href="/about-us">Über uns</a>
    <a href="/musiker">Musiker</a>
    <a href="/anfahrt">Anfahrt</a>
  </li>
  <li #contact_container class="contact_container">
    <div class="container">Kontakt</div>
    <button
      (click)="toggleContact()"
      [ngClass]="{ 'open-submenu-bg-color': isContactOpen }"
    >
      <mat-icon>{{ isContactOpen ? "remove" : "add" }}</mat-icon>
    </button>
  </li>
  <li class="submenu contakt_submenu" #contact_submenu>
    <a href="/kontakt">Kontakt</a>
    <a href="/impressum" #impressum class="impressum">Impressum</a>
  </li>
  <li #login_container class="login_container">
    <a href="/login" class="container">Login</a>
  </li>
</ul>
