<app-heading>Impressum</app-heading>

<div class="contact">
  <div class="address">
    <p class="bold">{{bandleader.name}}</p>
    <p>{{bandleader.address.street}}</p>
    <p>{{bandleader.address.plz}} {{bandleader.address.city_name}}</p>
    <p>{{bandleader.address.country}}</p>
  </div>

  <div>
    <p>Telefon: {{bandleader.telephone}}</p>
    <p>Telefax: {{bandleader.telefax}}</p>
    <p>Mobil: {{bandleader.mobile}}</p>
    <p>
      E-Mail: <a href="mailto:{{bandleader.email}}">{{bandleader.email}}</a>
    </p>
  </div>
</div>

<div class="legal small">
  <div>
    <p class="bold underline">Urheberrecht</p>
    <p>
      Der Inhalt dieser Website ist urheberrechtlich geschützt. Alle Rechte, auch die der Übersetzung, des Nachdrucks
      und
      der Vervielfältigung des Inhalts oder Teilen daraus, sind vorbehalten. Ohne schriftliche Genehmigung seitens der
      Blue Bird Bigband darf der Inhalt dieser Seite in keiner Form (Fotokopie, Mikrofilm oder einem anderen Verfahren),
      auch nicht zum Zwecke der Unterrichtsgestaltung, reproduziert oder unter Verwendung elektronischer Systeme
      verarbeitet, vervielfältigt oder verbreitet werden. Ausgenommen davon ist - vorausgesetzt es wird keine Änderung
      am
      Inhalt der Website vorgenommen - die Verwendung des Inhalts zu persönlichen und nichtkommerziellen Zwecken. Diese
      Erlaubnis endet, wenn gegen die oben genannten Bedingungen verstoßen wird.
    </p>
  </div>

  <div>
    <p class="bold underline">Links auf andere Websites</p>
    <p>Für Verlinkungen auf fremde Seiten und dessen Inhalt übernehmen wir keine Verantwortung. Hiermit distanzieren wir
      uns ausdrücklich von allen Inhalten aller gelinkten Seiten auf unserer Homepage und machen uns diese Inhalte nicht
      zu eigen. Diese Erklärung gilt für alle auf unserer Homepage angebrachten Links. (gemäß Urteil vom 12. Mai 1998 -
      312 O 85/98 - "Haftung für Links" / Landgericht Hamburg) </p>
  </div>
</div>